.list {
  padding: 10px;
}

.item {
  display: flex;
  align-items: center;
  color: white;
  list-style: none;
  margin: 10px;
}
.img {
  width: 50px;
  margin: 10px;
}

.like {
  background-color: yellow;
  color: darkblue;
  margin: 5px;
}