.button {
  display: block;
  padding: 8px;
  min-width: 120px;
  font-size: 16px;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
  color: white;
  background-color: lightseagreen;
  border: 1px solid white;
  transition: all .3s;
}

.button:hover {
  font-weight: bold;
  background-color: white;
  color: lightseagreen;
  box-shadow: 0 0 10px 5px white;
  border: 1px solid lightseagreen;

}